
    
 
.wrapper {
    padding: 20px;
}

.login-box {
    padding: 7.5em 1.5em 4em 1.5em;
}



:root {
    --primary-color: #c6c3c3;
}

* {
    font-family: 'Vazir FD-WOL';
}

body {
    background-image: url("../Images/967678.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #fff;
}

    a:hover {
        text-decoration: underline;
    }

.login-box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

    .login-header span {
        font-size: 30px;
        color: #000;
    }

    .login-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: -30px;
        width: 30px;
        height: 30px;
        border-top-right-radius: 50%;
        background: transparent;
        box-shadow: 15px 0 0 0 var(--primary-color);
    }

    .login-header::after {
        content: "";
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 30px;
        border-top-left-radius: 50%;
        background: transparent;
        box-shadow: -15px 0 0 0 var(--primary-color);
    }

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: 0.2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
    position: absolute;
    top: -10px;
    right: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: #000;
    padding: 0 10px;
}

.icon {
    position: absolute;
    top: 18px;
    left: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

    .input-submit:hover {
        background: #000;
        color: #fff;
    }

.register {
    text-align: center;
}

    .register a {
        font-weight: 500;
    }
