<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body dir="rtl" lang="fa">

    @Html.Partial("_PartialHeader")
    <div class="container body-content">
        @RenderBody()
    </div>
    @Html.Partial("_PartialFooter")


    @*@RenderSection("scripts", required: false)*@
</body>
</html>
