@{
    Pooshineh.Models.ClothingStoreEntities1 db = new Pooshineh.Models.ClothingStoreEntities1();
    ViewBag.Title = "ViewOrdersForAdmin";
    var users = db.Table_User;
    var user = db.Table_User.Where(u => u.PhoneNumber == User.Identity.Name).FirstOrDefault();
}
<br />
@if (user.Table_Roles.RoleName == "Admin")
{
    <div class="text-center bg-primary py-5 fw-bolder rounded-1 text-white mt-5"><h3>مشاهده سفارش‌ها</h3></div>
    <br />
    <div style="position: relative; display: inline-block;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 20l-3 1v-8.5L4.52 7.572A2 2 0 0 1 4 6.227V4h16v2.172a2 2 0 0 1-.586 1.414L15 12v3m4 1v6m3-3l-3 3l-3-3" />
        </svg>
        <span class="mx-1">مرتب سازی:</span>
        <select id="filterDropdown" class="form-select border border-secondary my-1" style="height: 35px;">
            <option hidden>انتخاب کنید</option>
            @foreach (var option in GetOrderStatusList())
            {
                <option value="@option.Value">@option.Text</option>
            }
            <option value="جدیدترین">جدیدترین</option>
            <option value="قدیمی‌ترین">قدیمی‌ترین</option>
        </select>
    </div>
    <div id="list">
        @Html.Action("OrdersList")
    </div>
}
else
{
    <div class="text-center bg-danger py-5 fw-bolder rounded-1 text-white mt-5"><h3>دسترسی محدود است</h3></div>
}

@functions{
    private SelectList GetOrderStatusList()
    {
        var orderStatusList = new List<SelectListItem>
{
            new SelectListItem { Value = "در حال بررسی", Text = "در حال بررسی" },
            new SelectListItem { Value = "در حال ارسال", Text = "در حال ارسال" },
            new SelectListItem { Value = "تحویل داده شده", Text = "تحویل داده شده" }
        };

        return new SelectList(orderStatusList, "Value", "Text");
    }
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#statusDropdown").change(function () {
            var orderStatus = $(this).val();
            var selectedId = $(this).data("id");

            $.ajax({
                url: "/Orders/UpdateOrder",
                type: "POST",
                data: { orderId: selectedId, status: orderStatus },
                success: function (data) {

                },
                error: function (error) {
                    $(".statusDropdown").append(error);
                }
            });
        });
        $("#filterDropdown").change(function () {
            var selectedOption = $(this).val();
            $.ajax({
                url: "/Orders/FilterOrders",
                type: "POST",
                data: { option: selectedOption },
                success: function (data) {
                    $("#list").empty();
                    $("#list").html(data);
                },
                error: function (error) {
                    //$("#error").empty();
                    //$("#error").append("Bye");
                }
            });
        })
    });
</script>
